service.xml

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="GetSSOTokenStatus">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="tokenID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="accountID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetSSOTokenStatusResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetSSOTokenStatusResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetTransactionDetails">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="tokenID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="accountID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetTransactionDetailsResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetTransactionDetailsResult" type="tns:BasePaymentDetailedResponse"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="BasePaymentDetailedResponse">
<s:complexContent mixed="false">
<s:extension base="tns:BasePaymentResponseData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="TransactionDate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TenderType" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TenderInfo" type="s:string"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="BasePaymentResponseData">
<s:complexContent mixed="false">
<s:extension base="tns:BasePaymentTransactionData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="AuthorizationNumber" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="PrimaryTransactionID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="AuthorizationText" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="interfaceTransactionStatus" type="s:string"/>
</s:sequence>
</s:extension>
</s:complexContent>
</s:complexType>
<s:complexType name="BasePaymentTransactionData">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="MerchantID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="StoreID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TerminalID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TransactionCode" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="MarketSegment" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TransactionStatus" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="PaymentPlanID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ReasonCode" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ReasonText" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="InstaMedAccountID" type="s:string"/>
</s:sequence>
</s:complexType>
<s:element name="GetTransactionDetailsByTransactionID">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="tokenID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="transactionID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="accountID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetTransactionDetailsByTransactionIDResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetTransactionDetailsByTransactionIDResult" type="tns:BasePaymentDetailedResponse"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="GetSSOTokenStatusSoapIn">
<wsdl:part name="parameters" element="tns:GetSSOTokenStatus"/>
</wsdl:message>
<wsdl:message name="GetSSOTokenStatusSoapOut">
<wsdl:part name="parameters" element="tns:GetSSOTokenStatusResponse"/>
</wsdl:message>
<wsdl:message name="GetTransactionDetailsSoapIn">
<wsdl:part name="parameters" element="tns:GetTransactionDetails"/>
</wsdl:message>
<wsdl:message name="GetTransactionDetailsSoapOut">
<wsdl:part name="parameters" element="tns:GetTransactionDetailsResponse"/>
</wsdl:message>
<wsdl:message name="GetTransactionDetailsByTransactionIDSoapIn">
<wsdl:part name="parameters" element="tns:GetTransactionDetailsByTransactionID"/>
</wsdl:message>
<wsdl:message name="GetTransactionDetailsByTransactionIDSoapOut">
<wsdl:part name="parameters" element="tns:GetTransactionDetailsByTransactionIDResponse"/>
</wsdl:message>
<wsdl:portType name="SSOServiceSoap">
<wsdl:operation name="GetSSOTokenStatus">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the status of a Token</wsdl:documentation>
<wsdl:input message="tns:GetSSOTokenStatusSoapIn"/>
<wsdl:output message="tns:GetSSOTokenStatusSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetTransactionDetails">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets details of a processed transaction</wsdl:documentation>
<wsdl:input message="tns:GetTransactionDetailsSoapIn"/>
<wsdl:output message="tns:GetTransactionDetailsSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetTransactionDetailsByTransactionID">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets details of a processed transaction</wsdl:documentation>
<wsdl:input message="tns:GetTransactionDetailsByTransactionIDSoapIn"/>
<wsdl:output message="tns:GetTransactionDetailsByTransactionIDSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SSOServiceSoap" type="tns:SSOServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetSSOTokenStatus">
<soap:operation soapAction="http://tempuri.org/GetSSOTokenStatus" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTransactionDetails">
<soap:operation soapAction="http://tempuri.org/GetTransactionDetails" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTransactionDetailsByTransactionID">
<soap:operation soapAction="http://tempuri.org/GetTransactionDetailsByTransactionID" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="SSOServiceSoap12" type="tns:SSOServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetSSOTokenStatus">
<soap12:operation soapAction="http://tempuri.org/GetSSOTokenStatus" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTransactionDetails">
<soap12:operation soapAction="http://tempuri.org/GetTransactionDetails" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetTransactionDetailsByTransactionID">
<soap12:operation soapAction="http://tempuri.org/GetTransactionDetailsByTransactionID" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="SSOService">
<wsdl:port name="SSOServiceSoap" binding="tns:SSOServiceSoap">
<soap:address location="https://online.instamed.com/providers/Forms/WebServices/SSOService.asmx"/>
</wsdl:port>
<wsdl:port name="SSOServiceSoap12" binding="tns:SSOServiceSoap12">
<soap12:address location="https://online.instamed.com/providers/Forms/WebServices/SSOService.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>